body {
    background-color: blue; 
    color: white; 
    
   
}

header {
    background-color: #ff00b1;
    color: red;
   
}


main {
    background-color: #444; 
    
}


footer {
    background-color: #ff0062; 
    
}